@font-face {
  font-family: "Itim";
  src: url("../fonts/Itim-Regular.ttf");
}

@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "RobotoMedium";
  src: url("../fonts/Roboto-Medium.ttf");
}

@font-face {
  font-family: "RobotoBold";
  src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: "PromptRegular";
  src: url("../fonts/Prompt-Regular.ttf");
}

@font-face {
  font-family: "PromptMedium";
  src: url("../fonts/Prompt-Medium.ttf");
}

@font-face {
  font-family: "PromptBold";
  src: url("../fonts/Prompt-Bold.ttf");
}

@font-face {
  font-family: "PromptThin";
  src: url("../fonts/Prompt-Thin.ttf");
}

* {
  box-sizing: border-box;
  font-family: 'PromptThin';
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: PromptThin, RobotoRegular, -apple-system, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: "RobotoRegular";
}

.account-logo {
  border-radius: 50%;
}
